.tab-pane .tab-header-area .tab-header-background {
  -fx-background-color: transparent;
}

.tab {
  -fx-background-color: transparent;
  -fx-font-family: "Digital-7 Mono";
  -fx-font-size: 21px;
  -fx-text-base-color: #40518A;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}

.tab:selected {
  -fx-background-color:  rgb(20, 59, 70, 0.5);
}